
   
 
<body id="editCreatePageBG">
</body>

<h1 class="move">Create New Tenant</h1>

<div class="movingForm">
    <form action="/Tenant/saveNewTenant" method="post">

        First Name <br />
        <input type="text" name="firstName" id="firstName"  class="rounded" /> <br />

        Last Name <br />
        <input type="text" name="lastName" id="lastName"  class="rounded" /> <br />

        Unit Number <br />
        <input type="text" name="unitNo" id="unitNo"  class="rounded" /> <br />

        <button type="reset" class="btn-info rounded">Clear</button>
        <button type="submit" class="btn-info rounded">Create Tenant</button>

    </form>
</div>
