<body id="HomepageBody">
</body>




<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <h1 class="display-1 text-center"><strong>Welcome</strong></h1>
    </div>    
</div>
<br />

<div class="row">
    <div class="col-md-8"></div>

    <div class="col-md-2">
        <form action="/Tenant/CreateNew">
            <input type="submit" id="CreateNew" name="CreateNew" value="Create Tenant" class="btn tabColor" style="width:350px; height:75px ; font-size:30px" />
        </form>
    </div>

    <div class="col-md-2">
        <form action="/Tenant/homePage">
            <input type="submit" id="homePage" name="homePage" value="Tenant List" class="btn tabColor" style="width:350px; height:75px ; font-size:30px" />
        </form>
    </div>
</div>
